<div class="card container mt-3">
    <div class="row mt-5">
        <div class="offset-sm-2 col-sm-8">
            <div class="card text-blank border-0">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label>Please Enter Your Name</label>
                            <input type="text" [(ngModel)]="name" name="name" placeholder="Manoj" class="form-control"
                                required>
                        </div>
                        <button class="btn btn-block btn-warning mt-3" (click)="age()">
                            Next
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>